<% if @friends.present?%>
  <div class="inline-block">
    <div>今日のアクションの数</div>
    <div class="flex p-6">
      <% @friends.each do |user| %>
        <%= link_to user_path(user) do %>
          <div class="flex flex-col items-center p-1 group rounded-xl mr-4">
            <% unless user.image.blank? %>
              <div>
                <%= image_tag user.image, class:"w-24 h-24 rounded-full inline-flex items-center justify-center object-cover block relative"%>
              </div>
            <% else %>
              <div class="w-24 h-24 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400 block relative">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
            <% end %>
            <div class="text-gray-600 text-sm"><%= user.user_activities.where('created_at >= ?', Date.today).count %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>