<section id="concept" class="container px-6 py-14 mx-auto bg-white rounded-2xl">
    <div class="items-center lg:flex">
        <div class="w-full lg:w-1/2">
            <div class="lg:max-w-lg">
                <h1 class="text-2xl font-semibold text-yellow-900 uppercase lg:text-3xl">地球をまもるためのアクション<br/>
                <span class="text-5xl text-green-600">E ACTION</span>をはじめよう</h1>
                <p class="mt-7 text-yellow-900 ">「地球温暖化」をとめるために、わたしたちができることってなんだろう。このウェブサイトは小さなアクションをつづけるためのお手伝いをします。</p>
            </div>
        </div>

        <div class="w-full mt-6 lg:mt-0 lg:w-1/2">
            <%= image_tag "concept.png" %>
            <div class="text-right">
                <%= link_to 'Rawpixel.com - jp.freepik.com', "https://jp.freepik.com/vectors/eco", class:"text-yellow-900 hover:text-yellow-700 text-xs" %>
            </div>
        </div>
    </div>
</section>
