<section class="bg-white rounded-2xl" id="today-action">
    <div class="container px-6 py-10 mx-auto m-8 md:m-24">
        <h1 class="text-xl md:text-3xl mb-4 font-semibold text-center text-yellow-900 capitalize lg:text-4xl">今日の<span class="text-green-600">アクション</span></h1>
        <p class="text-yellow-900 text-xs md:text-lg text-center">アクションをしたら
        <span class="text-green-600 font-semibold hover:border-b-2 hover:border-green-600"><%= link_to 'きろくしましょう', new_activity_path %><span>
        </p>
        
        <%# アクションの内容 ここから %>
        <div class="sm:flex flex-wrap justify-center items-center text-center gap-8 mt-8">
        <% @activity.each do |activity| %>
            <%# コンテナ %>
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 px-4 py-4 bg-white mt-6 shadow-lg rounded-lg md:h-56">
                <div class="flex-shrink-0">
                    <div class="flex items-center mx-auto justify-center h-8 w-8 md:h-12 md:w-12 rounded-md bg-green-500 text-white">
                        <svg width="20" height="20" fill="currentColor" class="h-6 w-6" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z">
                            </path>
                        </svg>
                    </div>
                </div>
                <h3 class="text-sm md:text-2xl text-yellow-900 font-semibold py-4">
                    Let's try it together!
                </h3>
                <p class="text-sm md:text-base text-yellow-700 py-4">
                    <%= activity.activity %>
                </p>
            </div>
        <% end %>
        </div>
        <%# アクションの内容 ここまで %>

    </div>
</section>
