<%# コンセプト %>
<%= render partial: "concept" %>

<% if user_signed_in? %>
    <%# 今日のアクション、アクションを記録へのリンク%>
    <%= render partial: "today_action" %>
<% end %>

<%# あそびかた %>
<%= render partial: "howtoplay" %>

<%# 新規登録とログインのボタン %>
<div class="container px-6 py-20 mx-auto flex justify-center">
    <div class="items-center lg:flex justify-center">
        <button class=" px-6 py-2 mr-20 transition ease-in duration-200 uppercase rounded-full hover:bg-green-500 hover:text-white border-2 border-gray-900 hover:border-green-500 focus:outline-none">
            新しくはじめる
        </button>
        <button class=" px-6 py-2  transition ease-in duration-200 uppercase rounded-full hover:bg-green-500 hover:text-white border-2 border-gray-900 hover:border-green-500 focus:outline-none">
            ログイン
        </button>
    </div>
</div>