<!-- component -->
<div class="bg-gray-100">
    <div class="container mx-auto">
        <div role="article" class="bg-gray-100 py-8 md:py-12 md:px-8">
            <div class="px-4 pb-4 md:py-10">
                <h1 class="text-2xl md:text-3xl ml-2 lg:ml-0 lg:text-4xl font-bold text-yellow-900 tracking-normal text-center"><span class="text-green-600">アクション</span>をきろく</h1>
                <div class="text-sm md:text-lg text-yellow-900 text-center mt-8">
                    <svg xmlns=”http://www.w3.org/2000/svg” class="h-6 w-6 md:h-8 md:w-8 rounded-full text-green-500 inline"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    をクリックしてきろくしましょう
                </div>
            </div>
            <div class="mb-2 pr-0 md:pr-12 text-center md:text-right text-yellow-900 text-xs md:text-base">出典：環境省 こども環境白書</div>

            <%= render 'lists' %>

            <div class="text-center my-4 md:my-12 mx-6 md:mx-0 text-sm md:text-lg text-yellow-900">
                他のアクションをきろくしたい方は
                <%= link_to 'こちら', new_contact_path(current_user.id), class:"text-green-600 hover:text-green-700 font-bold hover:border-b hover:border-green-700" %>
                からリクエスト
            </div>
        </div>
    </div>
</div>